@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

html {
    scroll-behavior: smooth;
}


body {
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h2 { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h3 { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

footer {
    padding-top: 35px;
    padding-bottom: 20px;
    position: absolute;
    align-content: center;
    width: 100%;
    border-top: 2px rgb(255, 255, 255) solid;

}

footer img {
    display: inline-block;
    margin: 0 auto;
    transition: 0.5s ease-out;
}
table { 
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse; 
    border-color: white;
}

table, th, tr, td {
    border: 1px rgb(255, 255, 255) solid;
}
nav a {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px 0px 10px;
    transition: 0.5s ease-out;
}
.contact1 {
    padding-top: 100px;
}
.container {
    display: flex;
    justify-content: space-around;
    height: 400px;
    margin-right: 40px;
    margin-left: 40px;
    width: 100%;
    margin: 0 auto;
    align-content: center;

}

.footerwrapper {
    height: auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.section a {
    margin: 0 auto;
}

.section {
    background-color: black;
}
img {
    margin: 0 auto;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

#project {
    height: auto;
    margin-top: 100px;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-right: 40px;
}

.projectcontainer {

    height: auto;
    width: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#project img {
    height: 300px;
    width: 300px;
    margin-top: 50px;

}
#history {
    height: 500px;
    margin-top: 200px;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;

}
#history p {
    padding-top: 50px;
}

.projectimg img{
    background-color: black;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;

}

#contact {
    height: 500px;
    padding-left: 40px;
    padding-right: 40px;
}

#contact h3 {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    
}



#portraitimage {
    background-image: url("websitepictures/pixil-frame-0.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 0 auto;
    padding-top: 100px;
    z-index: -1;

}
#index {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.navcontainer {
    width: 100%;
    height: 30px;
    text-align: center;
    position: fixed;
    padding-top: 15px;
    top: 0;
}

.title {
    padding-top: 10px;
}


.socialmedia {
    display: inline-block;
    width: 100%;
}
.linkedin img {
    background-color: black;
}


@media screen and (min-width: 500px) {
    #index, #history, #projects, #contact {
        font-size: 18px;
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 200px;

    }
    h1 {
        font-size: 30px;
    }
  }
@media screen and (min-width: 900px) {
    #index {
        padding-left: 250px;
        padding-right: 250px;
        height: 300px;
        margin-top: 100px;    
        padding-bottom: 300px;
    }
    #contact {
        padding-left: 250px;
        padding-right: 250px;
        height: auto;
        margin-top: 300px;
        /* padding-top: 200px; */
        margin-bottom: 150px;
    }
    #history {
        padding-left: 250px;
        padding-right: 250px;
        height: 300px;
        /* margin-top: 300px;
        padding-top: 400px; */
    }

    #project {
        padding-left: 100px;
        padding-right: 100px;
    }

    .intro {
        margin-top: 0px;
        margin-bottom: 100px;
        height: 500px;
    }
    .section {
        padding-bottom: 100px;
    }

    .section1p {
        padding-left: 200px;
        padding-right: 200px;

    }

    h1 {
        font-size: 40px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    h3 {
        padding-bottom: 50px;
        font-size: 30px;
    }

    #contact h3 {
        padding-bottom: 50px;
    }

    #project img {
        height: 400px;
        width: 400px;
        margin-top: 50px;
        transition: 0.7s ease-out;
    }
    #project img:hover {
        transform: scale(1.5);
        transition: 0.7s ease-out;

    }

    nav a:hover {
        font-size: 30px;
        transition: 0.5s ease-out;
    }
    footer a:hover {
        transform: scale(2.0);
        transition: 0.5s ease-out;
    }

    table {
        border-collapse: collapse;
    }

}
